Repository PSDennisK/PS.Foodbook.Frontend.V2: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["biome check --write --no-errors-on-unmatched"],
  "*.{json,md}": ["biome format --write --no-errors-on-unmatched"]
}

Authentication
  .claude/settings.local.json
  middleware.ts
  next.config.ts
  src/app/[locale]/layout.tsx
  src/app/[locale]/unauthorized/page.tsx
  src/app/api/auth/logout/route.ts
  src/app/api/auth/validate/route.ts
  src/components/auth/login-status.tsx
  src/components/auth/protected-route.tsx
  src/config/env.ts
  src/contexts/auth-context.tsx
  src/lib/api/auth.service.ts
  src/lib/api/base.ts
  src/lib/auth/cookies.client.ts
  src/lib/auth/cookies.ts
  src/lib/auth/jwt.ts
  src/lib/auth/permalink.ts
  src/lib/auth/rate-limit.ts
  src/lib/utils/security.ts
  src/stores/auth.store.ts
  src/types/auth.ts
  tests/unit/auth/jwt.test.ts
  tests/unit/auth/permalink.test.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

Fix errors
  middleware.ts
  src/config/env.ts
  src/lib/api/auth.service.ts
Due: biome check --write --no-errors-on-unmatched

Digital Catalog
  .claude/settings.local.json
  middleware.ts
  src/app/[locale]/digitalcatalog/[guid]/brand/[id]/page.tsx
  src/app/[locale]/digitalcatalog/[guid]/layout.tsx
  src/app/[locale]/digitalcatalog/[guid]/page.tsx
  src/app/[locale]/digitalcatalog/[guid]/product/[id]/page.tsx
  src/app/[locale]/product/page.tsx
  src/app/api/autocomplete/route.ts
  src/app/api/search/route.ts
  src/components/catalog/catalog-header.tsx
  src/components/search/filter-sidebar.tsx
  src/components/search/product-search-client.tsx
  src/components/search/search-bar.tsx
  src/config/env.ts
  src/hooks/use-autocomplete.ts
  src/lib/api/catalog.service.ts
  src/lib/api/product.service.ts
  src/types/filter.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

Fix lint errors
  src/app/[locale]/digitalcatalog/[guid]/layout.tsx
  src/components/catalog/catalog-header.tsx
  src/components/search/search-bar.tsx
  src/hooks/use-autocomplete.ts
  src/lib/api/catalog.service.ts
  src/lib/api/product.service.ts
Due: biome check --write --no-errors-on-unmatched

Productsheet
  src/app/[locale]/productsheet/[id]/page.tsx
  src/app/[locale]/productsheet/[id]/pdf/route.ts
  src/components/sheet/download-pdf-button.tsx
  src/components/sheet/product-sheet.tsx
  src/components/sheet/share-button.tsx
Due: biome check --write --no-errors-on-unmatched

Testing QA
  messages/de.json
  messages/en.json
  messages/fr.json
  messages/nl.json
  next.config.ts
  package-lock.json
  package.json
  scripts/build-analyze.js
  src/app/[locale]/product/[id]/page.tsx
  src/components/layout/mobile-nav.tsx
  src/components/product/product-card-animated.tsx
  src/components/product/product-card.tsx
  src/components/product/product-detail-skeleton.tsx
  src/components/search/filter-sidebar.tsx
  src/components/search/product-grid.tsx
  src/components/search/product-search-client.tsx
  src/components/search/search-bar.tsx
  src/components/sheet/share-button.tsx
  src/components/ui/empty-state-animated.tsx
  src/components/ui/empty-state.tsx
  src/components/ui/fade-in.tsx
  src/components/ui/product-skeleton.tsx
  src/components/ui/sheet.tsx
  src/hooks/use-focus-trap.ts
  src/lib/api/base.ts
  tests/e2e/accessibility.spec.ts
  tests/e2e/homepage.spec.ts
  tests/e2e/mobile.spec.ts
  tests/e2e/product-search.spec.ts
  tests/integration/search-flow.test.tsx
  tests/setup.ts
  tests/unit/components/empty-state.test.tsx
  tests/unit/components/product-card.test.tsx
  tests/unit/hooks/use-debounced-value.test.ts
  tests/unit/hooks/use-focus-trap.test.ts
  tests/unit/stores/filter.store.test.ts
  tests/utils/mock-data.ts
  tests/utils/test-utils.tsx
  vitest.config.mts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

Deployment + fix filters
  .dockerignore
  .env.production.example
  .env.staging.example
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  Dockerfile
  README.md
  docker-compose.yml
  docs/API_DOCUMENTATION.md
  docs/DEPLOYMENT_GUIDE.md
  docs/FASE_6_SUMMARY.md
  docs/FASE_7_TESTING_SUMMARY.md
  docs/MONITORING_GUIDE.md
  docs/RUNBOOK.md
  docs/SECURITY.md
  next.config.ts
  src/app/[locale]/productsheet/[id]/page.tsx
  src/app/[locale]/productsheet/[id]/pdf/route.ts
  src/app/api/brands/route.ts
  src/components/product/product-card.tsx
  src/components/product/product-info.tsx
  src/components/search/filter-sidebar.tsx
  src/components/search/product-search-client.tsx
  src/components/search/search-bar.tsx
  src/components/sheet/download-pdf-button.tsx
  src/components/sheet/product-sheet.tsx
  src/components/sheet/share-button.tsx
  src/lib/api/brand.service.ts
  src/lib/api/product.service.ts
  src/lib/utils/helpers.ts
  src/lib/utils/url.ts
  src/types/filter.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

Fix lint errors + test errors
  src/app/api/brands/route.ts
  src/components/product/product-info.tsx
  src/components/search/filter-sidebar.tsx
  src/components/search/product-search-client.tsx
  src/components/search/search-bar.tsx
  src/lib/api/brand.service.ts
  src/lib/api/product.service.ts
  src/lib/utils/helpers.ts
  tests/integration/search-flow.test.tsx
  tests/unit/utils/helpers.test.ts
Due: biome check --write --no-errors-on-unmatched

Deployment infrastructure
  CLAUDE.md
  README.md
  docs/FASE_8_DEPLOYMENT_SUMMARY.md
  docs/HANDOVER.md
  docs/MONITORING_GUIDE.md
Due: biome format --write --no-errors-on-unmatched

Optimalizations
  .claude/settings.local.json
  next.config.ts
  package-lock.json
  package.json
  src/app/[locale]/brand/[id]/page.tsx
  src/app/[locale]/digitalcatalog/[guid]/layout.tsx
  src/app/api/auth/validate/route.ts
  src/app/api/autocomplete/route.ts
  src/app/api/brands/route.ts
  src/app/api/log/route.ts
  src/app/api/search/route.ts
  src/components/brand/brand-product-search-client.tsx
  src/components/catalog/catalog-header.tsx
  src/components/product/product-info.tsx
  src/components/search/filter-sidebar.tsx
  src/components/search/product-search-client.tsx
  src/components/search/search-bar.tsx
  src/components/ui/error-boundary.tsx
  src/hooks/use-autocomplete.ts
  src/lib/api/brand.service.ts
  src/lib/api/catalog.service.ts
  src/lib/api/product.service.ts
  src/lib/api/validation.ts
  src/lib/utils/rate-limit.ts
  src/lib/utils/security.ts
  src/lib/utils/url.ts
  src/lib/utils/validation.ts
  src/types/brand.ts
  src/types/product.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

Fix lint errors
  src/components/search/search-bar.tsx
Due: biome check --write --no-errors-on-unmatched

Security and performance fixes
  CLAUDE.md
  README.md
  docs/SECURITY_IMPROVEMENTS.md
  docs/SECURITY_SUMMARY.md
  src/app/api/autocomplete/route.ts
  src/components/product/product-card.tsx
  src/components/product/product-info.tsx
  src/components/search/search-bar.tsx
  src/components/sheet/download-pdf-button.tsx
  src/lib/api/product.service.ts
  src/lib/api/sheet.service.ts
  src/lib/utils/url.ts
  src/types/product.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

Fix lint errors
  src/app/api/autocomplete/route.ts
  src/components/product/product-card.tsx
  src/components/product/product-info.tsx
  src/components/search/search-bar.tsx
  src/components/sheet/download-pdf-button.tsx
  src/lib/api/product.service.ts
  src/lib/api/sheet.service.ts
  src/lib/utils/url.ts
  src/types/product.ts
Due: biome check --write --no-errors-on-unmatched

Remove PDF generation in frond-end
  src/app/[locale]/productsheet/[id]/pdf/route.ts
  src/components/search/filter-sidebar.tsx
  src/components/sheet/download-pdf-button.tsx
  src/lib/api/base.ts
  src/lib/api/sheet.service.ts
  src/types/product.ts
Due: biome check --write --no-errors-on-unmatched

Fix lint errors
  src/components/search/filter-sidebar.tsx
  src/components/sheet/download-pdf-button.tsx
  src/lib/api/base.ts
  src/lib/api/sheet.service.ts
  src/types/product.ts
Due: biome check --write --no-errors-on-unmatched
